{{ ansible_managed | comment }}

[default]
{% if s3cmd_read_only | default(False) %}
access_key = {{ s3cmd_options.access_key_ro | default('') }}
{% else %}
access_key = {{ s3cmd_options.access_key_rw | default('') }}
{% endif %}
access_token = {{ s3cmd_options.access_token | default('') }}
add_encoding_exts = {{ s3cmd_options.add_encoding_exts| default('') }}
add_headers = {{ s3cmd_options.add_headers | default('') }}
bucket_location = {{ s3cmd_options.bucket_location | default('us-east-1') }}
ca_certs_file = {{ s3cmd_options.ca_certs_file | default('') }}
cache_file = {{ s3cmd_options.cache_file | default('') }}
check_ssl_certificate = {{ s3cmd_options.check_ssl_certificate | default(True) }}
check_ssl_hostname = {{ s3cmd_options.check_ssl_hostname | default(True) }}
cloudfront_host = {{ s3cmd_options.cloudfront_host | default('cloudfront.amazonaws.com') }}
default_mime_type = {{ s3cmd_options.default_mime_type | default('binary/octet-stream') }}
delay_updates = {{ s3cmd_options.delay_updates | default(False) }}
delete_after = {{ s3cmd_options.delete_after | default(False) }}
delete_after_fetch = {{ s3cmd_options.delete_after_fetch | default(False) }}
delete_removed = {{ s3cmd_options.delete_removed | default(False) }}
dry_run = {{ s3cmd_options.dry_run | default(False) }}
enable_multipart = {{ s3cmd_options.enable_multipart | default(True) }}
encoding = {{ s3cmd_options.encoding | default('UTF-8') }}
encrypt = {{ s3cmd_options.encrypt | default(False) }}
expiry_date = {{ s3cmd_options.expiry_date | default('') }}
expiry_days = {{ s3cmd_options.expiry_days | default('') }}
expiry_prefix = {{ s3cmd_options.expiry_prefix | default('') }}
follow_symlinks = {{ s3cmd_options.follow_symlinks | default(False) }}
force = {{ s3cmd_options.force | default(False) }}
get_continue = {{ s3cmd_options.get_continue | default(False) }}
gpg_command = {{ s3cmd_options.gpg_command | default('/usr/bin/gpg') }}
gpg_decrypt = {{ s3cmd_options.gpg_decrypt | default('%(gpg_command)s -d --verbose --no-use-agent --batch --yes --passphrase-fd %(passphrase_fd)s -o %(output_file)s %(input_file)s') }}
gpg_encrypt = {{ s3cmd_options.gpg_encrypt | default('%(gpg_command)s -c --verbose --no-use-agent --batch --yes --passphrase-fd %(passphrase_fd)s -o %(output_file)s %(input_file)s') }}
gpg_passphrase = {{ s3cmd_options.gpg_passphrase | default('') }}
guess_mime_type = {{ s3cmd_options.guess_mime_type | default(True) }}
host_base = {{ s3cmd_options.buckets[s3cmd_bucket].host_base | default('') }}
host_bucket = {{ s3cmd_options.host_bucket | default('') }}
human_readable_sizes = {{ s3cmd_options.human_readable_sizes | default('') }}
invalidate_default_index_on_cf = {{ s3cmd_options.invalidate_default_index_on_cf | default(False) }}
invalidate_default_index_root_on_cf = {{ s3cmd_options.invalidate_default_index_root_on_cf | default(True) }}
invalidate_on_cf = {{ s3cmd_options.invalidate_on_cf | default(False) }}
kms_key = {{ s3cmd_options.kms_key | default('') }}
limit = {{ s3cmd_options.limit | default('-1') }}
limitrate = {{ s3cmd_options.limitrate | default('0') }}
list_md5 = {{ s3cmd_options.list_md5 | default(False) }}
log_target_prefix {{ s3cmd_options.log_target_prefix | default('') }}
long_listing = {{ s3cmd_options.long_listing | default(False) }}
max_delete = {{ s3cmd_options.max_delete | default('-1') }}
mime_type = {{ s3cmd_options.mime_type | default('') }}
multipart_chunk_size_mb = {{ s3cmd_options.multipart_chunk_size_mb | default('15') }}
multipart_max_chunks = {{ s3cmd_options.multipart_max_chunks | default('10000') }}
preserve_attrs = {{ s3cmd_options.preserve_attrs | default(True) }}
progress_meter = {{ s3cmd_options.progress_meter | default(True) }}
proxy_host = {{ s3cmd_options.proxy_host | default('') }}
proxy_port = {{ s3cmd_options.proxy_port | default('0') }}
put_continue = {{ s3cmd_options.put_continue | default(False) }}
recursive = {{ s3cmd_options.recursive | default(False) }}
recv_chunk = {{ s3cmd_options.recv_chunk | default('65536') }}
reduced_redundancy = {{ s3cmd_options.reduced_redundancy | default(False) }}
requester_pays = {{ s3cmd_options.requester_pays | default(False) }}
restore_days = {{ s3cmd_options.restore_days | default('1') }}
{% if s3cmd_read_only | default(False) %}
secret_key = {{ s3cmd_options.secret_key_ro | default('') }}
{% else %}
secret_key = {{ s3cmd_options.secret_key_rw | default('') }}
{% endif %}
send_chunk = {{ s3cmd_options.send_chunk | default('65536') }}
server_side_encryption = {{ s3cmd_options.server_side_encryption | default(False) }}
signature_v2 = {{ s3cmd_options.signature_v2 | default(False) }}
simpledb_host = {{ s3cmd_options.simpledb_host | default('sdb.amazonaws.com') }}
skip_existing = {{ s3cmd_options.skip_existing | default(False) }}
socket_timeout = {{ s3cmd_options.socket_timeout | default('300') }}
stats = {{ s3cmd_options.stats | default(False) }}
stop_on_error = {{ s3cmd_options.stop_on_error | default(False) }}
storage_class = {{ s3cmd_options.storage_class | default('') }}
urlencoding_mode = {{ s3cmd_options.urlencoding_mode | default('normal') }}
use_http_expect = {{ s3cmd_options.use_http_expect | default(False) }}
use_https = {{ s3cmd_options.use_https | default(False) }}
use_mime_magic = {{ s3cmd_options.use_mime_magic | default(True) }}
verbosity = {{ s3cmd_options.verbosity | default('WARNING') }}
website_endpoint = {{ s3cmd_options.website_endpoint | default('') }}
website_error = {{ s3cmd_options.website_error | default('') }}
website_index = {{ s3cmd_options.website_index | default('index.html') }}
