---
all:
  children:
    molecule:
      hosts:
        sshd_el8:
          container_image: registry.access.redhat.com/ubi8/ubi-init
          sshd_configs:
            - name: 20-rhel8.conf
              content: |
                syslogfacility AUTHPRIV
                loglevel VERBOSE
                passwordauthentication no
        sshd_el9:
          container_image: registry.access.redhat.com/ubi9/ubi-init
          sshd_configs:
            - name: 20-rhel9.conf
              content: |
                syslogfacility AUTHPRIV
                loglevel VERBOSE
                passwordauthentication no
            - name: 30-max-connections.conf
              content: |
                MaxStartups 400:30:1000
                MaxSessions 10
      vars:
        ansible_connection: containers.podman.podman
        container_privileged: true
        container_systemd: true
        container_command: "/usr/sbin/init"
        container_security_opt: ['label=disable']
