{{ ansible_managed | comment }}

{% if _user_path_add | length > 0 %}
{% for p in _user_path_add %}
export PATH={{ p }}:$PATH
{% endfor %}
{% elif _user_path | length > 0 %}
export PATH={{ _user_path }}
{% else %}
# No path specified in Ansible
{% endif %}

{% if user_umask is defined %}
# User's umask
umask {{ user_umask }}
{% endif %}
