{{ ansible_managed | comment }}

{% if user_path_add | default('') | length > 0 %}
{% for p in user_path_add %}
export PATH={{ p }}:$PATH
{% endfor %}
{% elif user_path | default('') | length > 0 %}
export PATH={{ user_path }}
{% else %}
# No path specified in Ansible
{% endif %}

{% if user_umask is defined %}
# User's umask
umask {{ user_umask }}
{% endif %}
