{{ ansible_managed | comment }}

{% if user_path_add | default('') | length > 0 %}
{% for p in user_path_add %}
export PATH={{ p }}:$PATH
{% endfor %}
{% elif user_path | default('') | length > 0 %}
export PATH={{ user_path }}
{% else %}
# No path specified in Ansible
{% endif %}

{% if user_umask is defined %}
# User's umask
umask {{ user_umask }}
{% endif %}

{% if user_custom_vars | default('') | length > 0 %}
{% for user_var in user_custom_vars %}
{{ user_var.var_name | upper }}="{{ user_var.var_value }}"
{% endfor %}
{% endif %}
