---

- name: Verify
  hosts: molecule
  tasks:

    - name: Update services facts
      ansible.builtin.service_facts:

    - name: Assert that sshd is running
      ansible.builtin.assert:
        that:
          - ansible_facts.services['sshd.service'].status is defined
          - ansible_facts.services['sshd.service'].status == 'enabled'

    - name: Grab the effective configuration of sshd
      ansible.builtin.command:
        cmd: sshd -T
      register: sshd_config
      changed_when: false

    - name: Assert that custom settings are in final configuration
      ansible.builtin.assert:
        that:
          - "'syslogfacility AUTHPRIV' in sshd_config.stdout"
          - "'loglevel VERBOSE' in sshd_config.stdout"
          - "'Passwordauthentication no' in sshd_config.stdout"

    - name: Assert that 2nd set of custom settings are in final configuration
      ansible.builtin.assert:
        that:
          - "'maxstartups 400:30:1000' in sshd_config.stdout"
      when:
        - ansible_hostname == sshd_el9
