{{ ansible_managed | comment }}

#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See journald.conf(5) for details.

[Journal]
{% if journald_audit != journald_audit_default %}
Audit={{ journald_audit }}
{% else %}
#Audit={{ journald_audit_default }}
{% endif -%}

{% if journald_compress != journald_compress_default %}
Compress={{ journald_compress }}
{% else %}
#Compress={{ journald_compress_default }}
{% endif -%}

{% if journald_forward_to_console != journald_forward_to_console_default %}
ForwardToConsole={{ journald_forward_to_console }}
{% else %}
#ForwardToConsole={{ journald_forward_to_console_default }}
{% endif -%}

{% if journald_forward_to_kmsg != journald_forward_to_kmsg_default %}
ForwardToKMsg={{ journald_forward_to_kmsg }}
{% else %}
#ForwardToKMsg={{ journald_forward_to_kmsg_default }}
{% endif -%}

{% if journald_forward_to_syslog != journald_forward_to_syslog_default %}
ForwardToSyslog={{ journald_forward_to_syslog }}
{% else %}
#ForwardToSyslog={{ journald_forward_to_syslog_default }}
{% endif -%}

{% if journald_forward_to_wall != journald_forward_to_wall_default %}
ForwardToWall={{ journald_forward_to_wall }}
{% else %}
#ForwardToWall={{ journald_forward_to_wall_default }}
{% endif -%}

{% if journald_line_max != journald_line_max_default %}
LineMax={{ journald_line_max }}
{% else %}
#LineMax={{ journald_line_max_default }}
{% endif -%}

{% if journald_max_file_sec != journald_max_file_sec_default %}
MaxFileSec={{ journald_max_file_sec }}
{% else %}
#MaxFileSec={{ journald_max_file_sec_default }}
{% endif -%}

{% if journald_max_file_sec != journald_max_file_sec_default %}
MaxFileSec={{ journald_max_file_sec }}
{% else %}
#maxFileSec={{ journald_max_file_sec_default }}
{% endif -%}

{% if journald_max_level_console != journald_max_level_console_default %}
MaxLevelConsole={{ journald_max_level_console }}
{% else %}
#MaxLevelConsole={{ journald_max_level_console_default }}
{% endif -%}

{% if journald_max_level_kmsg != journald_max_level_kmsg_default %}
MaxLevelKMsg={{ journald_max_level_kmsg }}
{% else %}
#MaxLevelKMsg={{ journald_max_level_kmsg_default }}
{% endif -%}

{% if journald_max_level_store != journald_max_level_store_default %}
MaxLevelStore={{ journald_max_level_store }}
{% else %}
#MaxLevelStore={{ journald_max_level_store_default }}
{% endif -%}

{% if journald_max_level_syslog != journald_max_level_syslog_default %}
MaxLevelSyslog={{ journald_max_level_syslog }}
{% else %}
#MaxLevelSyslog={{ journald_max_level_syslog_default }}
{% endif -%}

{% if journald_max_level_wall != journald_max_level_wall_default %}
MaxLevelWall={{ journald_max_level_wall }}
{% else %}
#MaxLevelWall={{ journald_max_level_wall_default }}
{% endif -%}

{% if journald_max_retention_sec != journald_max_retention_sec_default %}
MaxRetentionSec={{ journald_max_retention_sec }}
{% else %}
#MaxRetentionSec={{ journald_max_retention_sec_default }}
{% endif -%}

{% if journald_rate_limit_burst != journald_rate_limit_burst_default %}
RateLimitBurst={{ journald_rate_limit_burst }}
{% else %}
#RateLimitBurst={{ journald_rate_limit_burst_default }}
{% endif -%}

{% if journald_rate_limit_interval_sec != journald_rate_limit_interval_sec_default %}
RateLimitIntervalSec={{ journald_rate_limit_interval_sec }}
{% else %}
#RateLimitIntervalSec={{ journald_rate_limit_interval_sec_default }}
{% endif -%}

{% if journald_read_kmsg != journald_read_kmsg_default %}
ReadKMsg={{ journald_read_kmsg }}
{% else %}
#ReadKMsg={{ journald_read_kmsg_default }}
{% endif -%}

{% if journald_runtime_keep_free != journald_runtime_keep_free_default %}
RuntimeKeepFree={{ journald_runtime_keep_free }}
{% else %}
#RuntimeKeepFree={{ journald_runtime_keep_free_default }}
{% endif -%}

{% if journald_runtime_max_files != journald_runtime_max_files_default %}
RuntimeMaxFiles={{ journald_runtime_max_files }}
{% else %}
#RuntimeMaxFiles={{ journald_runtime_max_files_default }}
{% endif -%}

{% if journald_runtime_max_file_size != journald_runtime_max_file_size_default %}
RuntimeMaxFileSize={{ journald_runtime_max_file_size }}
{% else %}
#RuntimeMaxFileSize={{ journald_runtime_max_file_size_default }}
{% endif -%}

{% if journald_runtime_max_use != journald_runtime_max_use_default %}
RuntimeMaxUse={{ journald_runtime_max_use }}
{% else %}
#RuntimeMaxUse={{ journald_runtime_max_use_default }}
{% endif -%}

{% if journald_seal != journald_seal_default %}
Seal={{ journald_seal }}
{% else %}
#Seal={{ journald_seal_default }}
{% endif -%}

{% if journald_split_mode != journald_split_mode_default %}
SplitMode={{ journald_split_mode }}
{% else %}
#SplitMode={{ journald_split_mode_default }}
{% endif -%}

{% if journald_storage != journald_storage_default %}
Storage={{ journald_storage }}
{% else %}
#Storage={{ journald_storage_default }}
{% endif -%}

{% if journald_sync_interval_sec != journald_sync_interval_sec_default %}
SyncIntervalSec={{ journald_sync_interval_sec }}
{% else %}
#SyncIntervalSec={{ journald_sync_interval_sec_default }}
{% endif -%}

{% if journald_system_keep_free != journald_system_keep_free_default %}
SystemKeepFree={{ journald_system_keep_free }}
{% else %}
#SystemKeepFree={{ journald_system_keep_free_default }}
{% endif -%}

{% if journald_system_max_files != journald_system_max_files_default %}
SystemMaxFiles={{ journald_system_max_files }}
{% else %}
#SystemMaxFiles={{ journald_system_max_files_default }}
{% endif -%}

{% if journald_system_max_file_size != journald_system_max_file_size_default %}
SystemMaxFileSize={{ journald_system_max_file_size }}
{% else %}
#SystemMaxFileSize={{ journald_system_max_file_size_default }}
{% endif -%}

{% if journald_system_max_use != journald_system_max_use_default %}
SystemMaxUse={{ journald_system_max_use }}
{% else %}
#SystemMaxUse={{ journald_system_max_use_default }}
{% endif -%}

{% if journald_tty_path != journald_tty_path_default %}
TTYPath={{ journald_tty_path }}
{% else %}
#TTYPath={{ journald_tty_path_default }}
{% endif -%}
