---
# These tests must be run as root. Rootless counter wouldn't be able to mount
# nfsd, even as privileged and with SeLinux disabled.

ansible:
  cfg:
    defaults:
      deprecation_warnings: false
      fact_caching: jsonfile
      fact_caching_connection: ${MOLECULE_SCENARIO_DIRECTORY}/fact_cache
  executor:
    args:
      ansible_playbook:
        - --inventory=inventory/
  playbooks:
    create: create.yml
    create-fail: ../../../../molecule/playbooks/create-fail.yml
    cleanup: ../../../../molecule/playbooks/cleanup.yml
    destroy: destroy.yml

dependency:
  name: galaxy
  options:
    requirements-file: ${MOLECULE_SCENARIO_DIRECTORY}/requirements.yml
