---
- name: Fact cache
  hosts: molecule
  gather_facts: true

- name: Prepare
  hosts: nfs_servers
  gather_facts: false
  vars:
    nfs_server_exports:
      - "/var/nfs/nfs_client *(ro)"
  tasks:

    - name: Prepare - Mount point directory
      ansible.builtin.file:
        path: /var/nfs/nfs_client
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Prepare - Mount tmpfs for NFS export
      ansible.posix.mount:
        path: /var/nfs/nfs_client
        src: tmpfs
        fstype: tmpfs
        opts: size=100M
        state: mounted

    - name: Prepare - shared file
      ansible.builtin.copy:
        dest: /var/nfs/nfs_client/test.txt
        content: This is a test
        owner: root
        group: root
        mode: '0644'

    # If the error exportfs: /var/nfs/nfs_client does not support NFS export
    # araise, is certainly because another container is running a nfs_server
    # on the same host.
    - name: Prepare - Import nfs_server role
      ansible.builtin.import_role:
        name: epfl_si.rhel.nfs_server
