---
- name: Fact cache
  hosts: molecule
  gather_facts: true

- name: Prepare
  hosts: nfs_servers
  gather_facts: false
  vars:
    nfs_server_exports:
      - "/var/nfs/nfs_client \
        {{ hostvars['nfs_client_el9']['ansible_default_ipv4']['address'] }}\
        (ro)"
  tasks:

    - name: Prepare the shared folder
      ansible.builtin.file:
        path: /var/nfs/nfs_client
        state: directory
        owner: root
        group: root
        mode: '0755'

  roles:

    # If the error exportfs: /var/nfs/nfs_client does not support NFS export
    # araise, is certainly because another container is running a nfs_server
    # on the same host.
    - name: Prepare - Import nfs_server role
      ansible.builtin.import_role:
        name: epfl_si.rhel.nfs_server
