---
- name: Converge
  hosts: molecule
  tasks:

    - name: Include role awscli
      become: true
      ansible.builtin.include_role:
        name:  epfl_si.rhel.awscli
      vars:
        awscli_user: "{{ molecule_awscli_item.awscli_user }}"
        awscli_default_s3_max_concurrent_requests: '10'
        awscli_profiles: "{{ molecule_awscli_item.awscli_profiles }}"
      loop: "{{ awscli_users_profiles }}"
      loop_control:
        loop_var: molecule_awscli_item
