{{ ansible_managed | comment }}

{% for p in awscli_profiles %}
{% if p.default is defined and p.default is truthy%}
[default]
aws_access_key_id = {{ p.access_key }}
aws_secret_access_key = {{ p.secret_key }}
{% endif %}

[{{ p.name }}]
aws_access_key_id = {{ p.access_key }}
aws_secret_access_key = {{ p.secret_key }}
{% endfor %}
