{{ ansible_managed | comment }}

{% for b in awscli_buckets %}
{% if b.default is defined and b.default is truthy%}
[default]
{% if b.read_only is defined and b.read_only is truthy %}
aws_access_key_id = {{ s3_buckets[b.friendly_name].access_key_ro }}
aws_secret_access_key = {{ s3_buckets[b.friendly_name].secret_key_ro }}
{% else %}
aws_access_key_id = {{ s3_buckets[b.friendly_name].access_key_rw }}
aws_secret_access_key = {{ s3_buckets[b.friendly_name].secret_key_rw }}
{% endif %}
{% endif %}

[{{ b.friendly_name }}]
{% if b.read_only is defined and b.read_only is truthy %}
aws_access_key_id = {{ s3_buckets[b.friendly_name].access_key_ro }}
aws_secret_access_key = {{ s3_buckets[b.friendly_name].secret_key_ro }}
{% else %}
aws_access_key_id = {{ s3_buckets[b.friendly_name].access_key_rw }}
aws_secret_access_key = {{ s3_buckets[b.friendly_name].secret_key_rw }}
{% endif %}
{% endfor %}
