---

- name: Prepare
  hosts: molecule
  gather_facts: false
  tasks:

    - name: Install zsh
      ansible.builtin.package:
        name:
          - sudo # for become
          - zsh
        state: present

    - name: Prepare ansible user with permission to sudo without password
      ansible.builtin.import_tasks:
        file: ../default/tasks/prepare_ansible_user.yml

    - name: Create mock pre-existing user with SSH keys
      ansible.builtin.user:
        name: user_pre_exist
        state: present

    - name: Add mock SSH key to pre-existing user
      ansible.posix.authorized_key:
        user: user_pre_exist
        exclusive: false
        state: present
        manage_dir: true
        key: ssh-rsa D1 user1@example.com
