---

- name: Converge
  hosts: molecule
  vars:
    aws_credentials:
      bucket1:
        access_key_rw: key1
        secret_key_rw: secret1
        access_key_ro: key2
        secret_key_ro: secret2
      bucket2:
        access_key_rw: key3
        secret_key_rw: secret3
        access_key_ro: key4
        secret_key_ro: secret4
  roles:

    - role: epfl_si.rhel.s3cmd
      s3cmd_user: root
      s3cmd_bucket: bucket1
      s3cmd_access_key: key1
      s3cmd_secret_key: secret1
      s3cmd_human_readable_sizes: true
      s3cmd_bucket_location: 'EU'
      s3cmd_multipart_chunk_size_mb: '50'
      s3cmd_default: true

    - role: epfl_si.rhel.s3cmd
      s3cmd_user: root
      s3cmd_bucket: bucket2
      s3cmd_access_key: "{{ aws_credentials['bucket2'].access_key_rw }}"
      s3cmd_secret_key: "{{ aws_credentials['bucket2'].secret_key_rw }}"
      s3cmd_read_only: true
