{{ ansible_managed | comment }}
{% for r in sudo_rules %}
{% for c in r.commands %}
{{ r.user }} {{ r.host | default('ALL') }}=({{ r.runas | default('ALL') }}) {% if r.nopasswd | default(False) %}NOPASSWD:{% endif %} {{ c }}
{% endfor %}
{% endfor %}
