---

- name: Ensure SSHD server is installed
  ansible.builtin.package:
    name: openssh-server
    state: present

- name: Ensure SSHD server service is running
  ansible.builtin.systemd:
    daemon_reload: true
    enabled: true
    name: sshd.service
    state: started

- name: Ensure /etc/ssh/sshd_config.d exists
  ansible.builtin.file:
    path: /etc/ssh/sshd_config.d
    state: directory
    owner: root
    group: root
    mode: '0700'

- name: Ensure drop-in folder is included in main configuration file
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    line: Include /etc/ssh/sshd_config.d/*.conf
    insertbefore: BOF # This ensure drop-in file have precedence
    state: present
    owner: root
    group: root
    mode: '0644'
    validate: /sbin/sshd -t -f %s
  notify: Restart sshd

- name: Write the sshd_config drop-in file
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: /etc/ssh/sshd_config.d/{{ item.name }}
    owner: root
    group: root
    mode: '0600'
    backup: true
    validate: /sbin/sshd -t -f %s
  loop: "{{ sshd_configs }}"
  notify: Restart sshd
